[2017-05-28 22:21] stevevance opened #242 "Legitimacy of Transport for London feed"
This feed [was submitted](https://transit.land/dispatcher/changesets/6208). It contains all tram, underground, overground, and Emirates Air Line service in London. We already have London Underground, which comes in a mega Great Britain feed.

The feed has old calendar dates, and it's stored on a Google domain.

I think the changeset should be deleted.

[2017-05-28 22:41] stevevance opened #243 "Compare existing operators to proposed operators in Italy"
The Feed Registry has a feed of 76 operators in Piemonte/Piedmont.
An alternative feed for this region was submitted, but it looks like there's a lot of duplicates.

[Newly submitted feed](https://transit.land/dispatcher/changesets/3849)
[Existing feed](https://transit.land/dispatcher/feeds/f-u0j-piemonte~autobus)

Is there an efficient way to compare the two?

[2017-05-28 22:53] stevevance commented on #226
@irees Switzerland doesn't seem to want to finish imported: [check this feed version](https://transit.land/dispatcher/feed-versions/93f909ebbc820786fcad36d4939458e3c2df7401).

[2017-05-30 16:34] stevevance opened #244 "Bologna and Ferrara feeds point to same existing entry in the Feed Registry"
The separate feeds for Bologna and Ferrara, Italy, point to the same existing feed for Bologna, and thus I cannot submit the Ferrara feed.

Bologna:
https://solweb.tper.it/web/tools/open-data/open-data-download.aspx?source=tper.it&filename=gommagtfsbo&version=20170125&format=zip
This is an existing feed in the [Feed Registry](https://transit.land/feed-registry/operators/o-srb-tperspa), and the fee

[2017-05-30 16:54] #231 closed

[2017-05-30 17:00] stevevance opened #245 "Québec feed fails to fetch because of SSL error"
`SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed`

Oddly, though, the feed is on `http`, not `https`.

Feed: http://www.amt.qc.ca/xdata/mrc2m/google_transit.zip
Feed fetch error: https://transit.land/dispatcher/issues/feed-fetch/885840

[2017-05-30 17:05] rmglennon commented on #242
Thanks for looking into this, @stevevance. The backstory is that a taxi company contacted us by email asking why Underground data was incomplete in routing, and I said that it looks like there are a few stations that are shared with the regional rail data we have. We don't have a full set of Underground data.

So, the group used this tool https://github.com/CommuteStream/tflgtfs to generate a GTFS

[2017-05-30 17:32] rmglennon opened #246 "Feeds created by extraction from third-party tools"
Transitland occasionally gets submissions that are generated by scraping an agency's APIs or by handcrafting a GTFS feed. In some cases, the agency does not provide a GTFS feed directly, so third-party tools are used to build feeds.

I'm creating this issue to list or link to issues about feeds that are created this way, and as a start to some criteria about when to import these feeds into Transit

[2017-05-30 17:34] rmglennon commented on #246
German Deutsche Bahn (DB) https://github.com/transitland/transitland/issues/126

[2017-05-30 17:34] rmglennon commented on #246
Transport for London tool https://github.com/CommuteStream/tflgtfs (see also internal Desk ticket 516)

[2017-05-30 18:01] irees commented on #244
## BO

https://solweb.tper.it/web/tools/open-data/open-data-download.aspx?source=tper.it&filename=gommagtfsbo&version=20170125&format=zip
redirect ->
https://solweb.tper.it/resources/files/opendata/gommagtfsbo_20170125.zip

shasum is `1d6833ba198d1189fb7019e3c16945294aa3d070`:
existing FeedVersion http://transit.land/api/v1/feed_versions/1d6833ba198d1189fb7019e3c16945294aa3d070
existing Feed http:

[2017-05-30 18:41] stevevance commented on #244
New feed created that points to existing TPER operator: https://transit.land/dispatcher/feeds/f-srb-tperspa~ferrara

[2017-06-01 09:09] christopheblin opened #247 "RouteToStopPattern algorithm available somewhere ?"
Hi,

I'd like to know if the algorithm describes in https://transit.land/documentation/datastore/routes-and-route-stop-patterns.html can be found in the sources somewhere.

Thanks for your time

[2017-06-01 15:43] drewda commented on #247
Thanks for your interest, @christopheblin.

Yes, all Transitland code is open-source. Have a look at:
- https://github.com/transitland/transitland-datastore/blob/master/app/models/route_stop_pattern.rb#L135-L160
- https://github.com/transitland/transitland-datastore/blob/master/app/services/geometry.rb

[2017-06-01 15:43] #247 closed

[2017-06-02 08:19] christopheblin commented on #247
Thanks @drewda, I really appreciate your fast and accurate answer !

Seems there are lots of people struggling with the shapes of GTFS (of public transit in general)
 * to generate shapes when they are missing like
    ** https://github.com/atlregional/bus-router
    ** http://geops.de/blog/mapping-public-transit-networks?language=en
 * to generate not overlapping shapes
   ** https://medium.com/t

[2017-06-02 18:55] stevevance opened #248 "All Montréal feeds are gone"
The transit agency in Montréal changed its domain name. Fine. And they changed the URL to all the feeds. Fine. But now all of the feeds get redirect to the homepage!

Here's an existing feed in the registry that doesn't work anymore: https://transit.land/dispatcher/feeds/f-f256-mrcdedeux~montagnes

All the feeds are listed here: https://rtm.quebec/en/about/open-data

[2017-06-02 19:32] stevevance commented on #228
@irees Neither of these feeds is working.

[2017-06-02 19:34] irees commented on #228
@stevevance looking into it today

[2017-06-02 19:40] drewda commented on #247
Yes, route geometries are quite a challenge. @doublestranded put a lot of work into Transitland's approach.

If you haven't already, do have a look at the GTFS Best Practices guide: http://gtfs.org/best-practices/ It includes advice for data producers on `shapes.txt` and on how to best represent routes with loops, lassos, and branches.

[2017-06-03 02:53] stevevance commented on #248
okay, most of them are back. Ephemeral linking or redirect error, I guess.

However, these feeds are positively 404:
- [Réseau de transport métropolitain Laurentides](http://www.rtm.qebec/xdata/citla/google_transit.zip)

[2017-06-03 03:20] #248 closed

[2017-06-05 20:05] ethanpooley opened #249 "Confusion about the current f-9v6-capitalmetro feed"
My understanding was that the appropriate current version of a feed could be reliably identified by looking through the feed versions at https://transit.land/api/v1/feed_versions?feed_onestop_id=f-9v6-capitalmetro for `is_active_feed_version: true`. However, as of about 8pm GMT on 5 June 2017, the "active" version for `f-9v6-capitalmetro` is one that expired two days ago:

![screenshot from 2017-0

[2017-06-06 17:25] drewda commented on #249
@ethanpooley thanks for your interest.

`is_active_feed_version` is used to indicate the latest version of a feed whose contents have been imported into the Datastore. `ScheduleStopPair`s are only available for the version that is flagged as active.

If you just want to access the most recently fetched version of a feed, you can:

- query for the `FeedVersion` record: https://transit.land/api/v1/f

[2017-06-06 17:25] #249 closed

[2017-06-06 22:50] ethanpooley commented on #249
That makes sense (now). Thank you! I've adjusted our code and it's working well.

[2017-06-10 18:12] stevevance commented on #228
The error on the Barcelona (TMB) feed is now "stack level too deep".

[2017-06-12 21:17] stevevance opened #250 "Feeds with the error "undefined method parent_stop""
- RTD Denver (resolved)
- Humboldt County, California (resolved)
- [Budapest](https://transit.land/dispatcher/feed-versions/db36d6be6d68450c081fc55addc2b5f46946ec88) (resolved)
- Halifax (resolved)

I am re-enqueuing each of their latest feed version.

[2017-06-12 21:30] stevevance opened #251 "Feeds with the error "undefined method downcase""
- [ACV bus in Italy](https://transit.land/dispatcher/feed-versions/2db913a8b21f3ea138e3badf41a0e8f1b2be60de) - `f-srb0-autolineechiantivaldarno`
- ~~[ATAF Linea in Italy](https://transit.land/dispatcher/feed-versions/6a9f39d2510ea30f382b3df4f701b97dd8896ad8) as of Mon Jun 26 2017~~

[2017-06-12 21:34] stevevance commented on #228
Toronto still fails as of June 11, 2017.

[2017-06-12 21:38] stevevance opened #252 "Feeds with the error "undefined method pclink""
- [Go CARTA, Chattanooga](https://transit.land/dispatcher/feed-versions/9c4879ec7bf50ea65aa053d60a50c4963f47a386) as of Thu Jul 13 2017 - `f-dn5r-carta`
- Las Palmas de Gran Canaria in Spain (resolved as of Aug 1 2017)

[2017-06-12 22:27] stevevance opened #253 "Feature request: Add GTFS agency ID on the Feed Registry submission page"
Adding the GTFS agency ID to the Feed Registry "Add new feed" page will help me know which operators I have and don't have in the datastore. Often, operators have the same name and I don't know which one I'm editing.

The additional info would go on this page https://transit.land/feed-registry/feeds/new/add-operator
<img width="537" alt="pasted_image_6_12_17__17_26" src="https://user-images.github

[2017-06-12 22:46] drewda commented on #253
@stevevance this is more information than most users need to see in Feed Registry.

But for you, I'd recommend install the Ember Inspector add-on [for Chrome](http://localhost:8000/routing/index-internal.html) or [for Firefox](https://addons.mozilla.org/en-US/firefox/addon/ember-inspector/). Open that, click to the "data" tab, and then you can view all information available on the operator records

[2017-06-12 22:46] #253 closed

[2017-06-16 20:27] stevevance opened #254 "Can't submit LA Galaxy Express shuttle to Feed Registry"
URL: https://lbtransit.box.com/shared/static/gm2l374m02tm6xb2d5dfz207u4yo7pke.zip

[code]

[2017-06-27 13:55] sarahlensing opened #255 "Return null if no transit color specified"
Following discussion here https://github.com/mapzen/eraser-map/issues/810, it would be nice to update the default returned from white to null.

[2017-06-27 16:26] stevevance commented on #228
I got `undefined method 'id' for nil:NilClass` on a Rhode Island [feed version import failure](https://transit.land/dispatcher/feed-versions/cbe56f9d63ba0c159ea311883aa391ff8e58b333). Is that the same or a different error? @irees

[2017-06-27 20:39] drewda commented on #255
@sarahlensing yes, we can make this happen!

No changes will be required within the Transitland Datastore API, but we will have to coordinate a few changes in mobile and web clients. And @gknisely will need to make a change in the Valhalla transit fetcher and tile build process.

A proposed checklist:
- [ ] 1. @sarahlensing adjusts Eraser Map and/or mobile SDKs so they can handle null values for `

[2017-06-28 05:40] stevevance opened #256 "Feed Registry won't process this new Lisbon feed"
http://www.transporlis.pt/Portals/0/OpenData/gtfs/zip/11/gtfs_11.zip

[code]

[2017-06-28 12:49] gknisely commented on #255
What about people who are already using this and are expecting the defaults(as described in GTFS spec) that are returned.  Maybe we should return the defaults and add an optional flag to the api to turn it off?

[2017-07-02 19:17] stevevance commented on #252
@irees I added three new feeds, all from MTA in NYC

[2017-07-04 04:15] araichev opened #257 "Another GTFS analysis and validation library"
Hi Mapzeners, i'd like to respond to [your blog post on GTFS stats](https://mapzen.com/blog/transitland-feed-reports/) in which you say, "If you have another analysis or validation library that is open-source, we’re glad to look into adding it the Transitland feed-fetch process."

I *do* have another GTFS analysis and validation library that is open-source and that you might be interested in: [GTS

[2017-07-05 18:22] stevevance commented on #245
This resolved itself.

[2017-07-05 18:22] #245 closed

[2017-07-07 15:38] rmglennon opened #258 "Update GTFS URL for Ruter feed in Norway"
Support request (see Desk 708) regarding updating the URL for Ruter.

https://transit.land/feed-registry/operators/o-u4x-ruter

all references to http://reis.ruter.no/gtfs/gtfs.zip need to be removed.

Only references to https://github.com/RuterNo/open-data/blob/master/gtfs.zip?raw=true are to be kept.

Some files were incorrectly updated on that GitHub site, but this has been corrected. Second re

[2017-07-07 20:37] stevevance commented on #258
"Feed 1"
The other feed `http://reis.ruter.no/gtfs/gtfs.zip` has onestop ID`f-u4-ruter~flybussen~stfoldkollektivtrafikk~hedmarktrafikk~oppla` and supplies these operators:

- o-u4x-ruter (A)
- o-u4x-stfoldkollektivtrafikk (Ø)
- o-u6-hedmarktrafikk (H)
- o-u4-opplandstrafikk (L)
- o-u4w-brakar (B)

"Feed 2"
The feed `https://github.com/RuterNo/open-data/blob/master/gtfs.zip?raw=true` has the onesto

[2017-07-07 21:09] stevevance commented on #254
Nevermind. We already had this feed. I thought it was a new operator.

[2017-07-07 21:09] #254 closed

[2017-07-07 21:16] stevevance commented on #256
This feed downloads in the browser just fine.

[2017-07-07 21:17] stevevance opened #259 "Bus Pastel in France won't fetch "f-u0f7d-pastelmavilleestbelle""
**France**
- Dispatcher: [f-u0f7d-pastelmavilleestbelle](https://transit.land/dispatcher/feeds/f-u0f7d-pastelmavilleestbelle)
- URL: http://www.buspastel.fr/google_transit.zip
- [Feed fetch issue](https://transit.land/dispatcher/issues/feed-fetch/1003366):

**CARTA**
- Dispatcher: [f-dn5r-carta](http://www.gocarta.org/developers/GTFS.zip)
- URL: http://www.gocarta.org/developers/GTFS.zip
- [Feed f

[2017-07-11 17:33] stevevance opened #260 "Feeds with the error "comparison of Array with Array failed""
MATBUS, Fargo, ND: [f-cb74-matbus](https://transit.land/dispatcher/feed-versions/e54b1dd9f8ea9724b0df081c6d522b626e8cd8eb) - first appeared Sun Jul 09 2017 10:02:06 GMT-0500 (CDT)

[2017-07-11 17:41] stevevance commented on #251
ATAF Linea resolved itself as of Fri Jul 07 2017 13:22:31 GMT-0500 (CDT)
ACV is still broken as of Mon Jul 10 2017 23:49:29 GMT-0500 (CDT)

[2017-07-13 21:21] stevevance opened #261 "Start adding operator placeholders for operators without feeds"
Make a list here of operators that we want to add to Transitland but don't have a feed.

[2017-07-13 21:42] stevevance commented on #242
This feed was [eventually imported](https://transit.land/dispatcher/feeds/f-gcpv-transportforlondon).

[2017-07-13 21:46] stevevance opened #262 "Label the "check here that you agree to terms" on the Feed Registry submission page"
add the `<label></label>` tag around the text associated with the checkbox on the Feed Registry submission process.

[2017-07-14 01:10] stevevance commented on #52
The status of this is that we've only imported the initial 7 operators back in January. There are 390 operators that haven't been imported.

[The feed](https://transit.land/dispatcher/feeds/f-u0-switzerland) is set to `manual_import: true`.

@irees Can I set this to import level 4?

[2017-07-14 01:11] stevevance commented on #234
This feed no longer has this error. It has a different error, and is referenced in #251

[2017-07-14 01:11] #234 closed

[2017-07-14 01:27] #258 closed

[2017-07-14 01:27] #242 closed

[2017-07-14 01:35] #239 closed

[2017-07-14 01:40] stevevance opened #263 "Double check that the feeds in Chile are still fetching and importing"
Some of the feed URLs go to outdated feeds. The files still exist, but a new file with current schedules has replaced them. This may only apply to feeds hosted on the government data portal.

[Feed Registry](https://transit.land/feed-registry/?country=CL)

Feed source on the [government data portal](http://datos.gob.cl/dataset?q=gtfs&sort=score+desc%2C+metadata_modified+desc)

Feeds hosted on that

[2017-07-14 01:51] stevevance opened #264 "Bogotá, Colombia, ZIP file appears to be corrupt"
This is the [long URL](https://doc-0k-94-docs.googleusercontent.com/docs/securesc/e89rs9so41v2pl624063l3d6rgih7jr3/p7hdimb6e08cflt22nklhj2vuknsa8gj/1499990400000/15277077861489136863/10593479090703137318/0Bzyr0SveNi4AYXdDS1RHNi1ueUE?e=download&nonce=7j38o7lg93d9o&user=10593479090703137318&hash=imileku2q54nkpsipb84okpgep09mjvg) for the Google Drive-hosted ZIP file. The URL is found in [this G Drive

[2017-07-14 02:07] stevevance commented on #263
Santiago has been updated (and we got a new operator in the process)

[2017-07-14 04:13] drewda commented on #257
Thanks for sharing, @araichev. We'll have a look and see if your library would be useful to run in addition to the existing 2 validators that we run against GTFS feeds and/or if there are a few of your stats that may be worth calculating within a Transitland process.

[2017-07-17 15:38] drewda commented on #261
@nvkelso any particular countries where you'd recommend @stevevance focus his efforts?

[2017-07-17 15:44] drewda commented on #261
@stevevance when you're manually constructing operator records, I'd also recommend including in tags:

- public website URL
- Twitter handle
- US NTD ID (for American operators)

[2017-07-17 15:44] drewda commented on #261
Also, another source to look at for listings: http://www.citygoround.org/agencies/ Note the links to export CSV/JSON at the bottom of the table.

[2017-07-19 03:42] stevevance commented on #261
@drewda Is there a schema property for Twitter handle?

[2017-07-19 05:04] drewda commented on #261
@stevevance no, it can just go into operator tags.

[2017-07-19 05:51] nvkelso commented on #261
- **China** metro areas with commuter, subway, &/or light rail lines [wikipedia](https://en.wikipedia.org/wiki/Urban_rail_transit_in_China)
- **Japan**  metro areas with commuter, subway, &/or light rail lines [wikipedia](https://en.wikipedia.org/wiki/List_of_urban_rail_systems_in_Japan)
- **South Korea** metro areas with commuter, subway &/or light rail lines [wikipedia](https://en.wikipedia.org/

[2017-07-19 16:53] drewda commented on #261
@nvkelso 👍

Since Wikipedia has such good listings of transit operators, let's also include Wikipedia article URL as a tag in Transitland operator listings. That would allow future cross-referencing.

@stevevance re Twitter, I've noticed that some agencies have separate Twitter handles for service alerts/updates and general news/marketing. For example: https://twitter.com/SFBARTalert and https://t

[2017-07-19 19:10] nvkelso commented on #261
Seems like the general account would be better for public campaigns to open
their data ;)

On Wed, Jul 19, 2017 at 9:53 AM, Drew Dara-Abrams <notifications@github.com>
wrote:

[2017-07-20 20:51] stevevance opened #266 "SFMTA "f-9q8y-sfmta" SSL certificate expired"
The San Francisco MTA feed [f-9q8y-sfmta](https://transit.land/dispatcher/feeds/f-9q8y-sfmta) has an expired SSL certificate.

Yes, the SFMTA’s SSL cert is bad
expired 7 days ago
the current data is good through Aug 10 - hopefully they can fix their SSL cert before that
Non-SSL url http://archives.sfmta.com/transitdata/google_transit.zip redirects to https://gtfs.sfmta.com/transitdata/google_trans

[2017-07-20 21:32] stevevance commented on #263
Also checked:

- f-63vt-trans~ohiggins - still active
- f-66jh-vinabussa~trolebuseschilesa~busesdelgranvalparaisosa~topt - still active
- f-63tn-abatemolinaltda~sotratalsa~taxutalsa - still active
- f-66tm-liserco~lincosur~lisanco - still active
- f-67vc-transantofagasta - still active

[2017-07-20 22:10] drewda commented on #266
Worst case, we'll `wget https://gtfs.sfmta.com/transitdata/google_transit.zip --no-check-certificate` and then manually upload a new feed version (using the new functionality introduced in https://github.com/transitland/transitland-datastore/issues/1125 and https://github.com/transitland/dispatcher/pull/247).

[2017-07-20 22:18] kuanb commented on #266
Piggy backing on this, is there a way to log defunct URLs?

E.g. API call http://transit.land/api/v1/feeds?onestop_id=f-dqcjr-dccirculator indicates that DC Circulator GTFS feed should be available at http://circulatordashboard.dc.gov/circulatordata/gtfs/gtfs.zip which leads to a 404 page.

[2017-07-20 22:25] drewda commented on #266
@kuanb FYI, when the fetch process runs daily it creates "issues" for any feed that can't be successfully fetched. Here's a view of feeds that have had fetch issues most recently: https://transit.land/dispatcher/feeds?latest_fetch_exception=true

@stevevance regularly checks this list and updates broken URLs, when it's possible to find a new working equivalent.

Kuan, if you want to help fix any b

[2017-07-20 22:50] #263 closed

[2017-07-20 23:00] stevevance opened #267 "Torrance, California, "f-9q5b-torrancetransit" demo feed has gone missing"
https://transit.land/dispatcher/feeds/f-9q5b-torrancetransit - this feed is a "demo feed"

http://www.torranceca.gov/TransitFeed/google_transit.zip

It looks like the city launched a brand-new website.

[2017-07-20 23:16] stevevance opened #268 "Disassociate DC Circulator operator from the broken DC Circulator feed"
The DC Circulator appeared in the dispatcher as a feed with a problem just yesterday. The DCC is fed by its own feed, and the [WMATA feed](https://transit.land/feed-registry/operators/o-dqc-met), although each describes the DCC routes differently.

I'm going to disassociate the [DCC feed record](https://transit.land/dispatcher/feeds/f-dqcjr-dccirculator) from the [DCC operator record](https://tran

[2017-07-20 23:16] stevevance commented on #266
@kuanb For info on the DC Circulator issue, see #268

[2017-07-20 23:46] irees commented on #268
in this case gtfs_agency_id was null, not an empty string... fix applied in https://transit.land/dispatcher/changesets/7016

[2017-07-20 23:46] #268 closed

[2017-07-21 01:33] drewda commented on #267
resolved by https://transit.land/dispatcher/changesets/7017

[2017-07-21 01:33] #267 closed

[2017-07-21 07:11] kuanb commented on #266
Awesome thanks

[2017-07-23 04:52] stevevance commented on #268
@irees how do I know when the string is empty versus when it's null?

[2017-07-24 19:22] drewda commented on #252
I get a similar error:

[code]

when trying to run FeedInfo on the Amazon SLU shuttle: https://sea-shuttles.com/gtfs.zip

[2017-07-26 02:09] stevevance opened #269 "Feed Registry won't accept this Amazon SLU Seattle feed"
Feed URL: https://sea-shuttles.com/gtfs.zip

Feed Registry says:

[code]

[2017-07-26 02:13] stevevance commented on #252
@drewda I spotted that feed elsewhere before seeing your comment and I made this issue for that feed: #269

[2017-07-26 02:20] stevevance commented on #266
@drewda @irees I tried uploading a new feed version for SFMTA, uploading the ZIP file that I downloaded with Safari.

Dispatcher displays this complaint:

[code]

[2017-07-26 03:30] stevevance commented on #259
It looks like the feed is missing `shapes.txt`.

[2017-07-26 16:55] drewda commented on #266
@irees increased the upload limit on production server config (https://github.com/mapzen/opsworks-transitland/commit/9c163773fdecddd03e70a1a6a02cca66489e6d6b) -- so not sure why there would be size limit errors. Perhaps not all nodes have the updated config?

[2017-07-26 16:56] irees commented on #266
@drewda hm - the stack settings are updated, and I did a deploy - I will check with ops.

[2017-07-27 16:04] stevevance commented on #266
@irees @drewda The error occurs immediately - before the file has a chance to be uploaded. Might the browser be reporting the wrong file size, or throwing the error?

[2017-07-28 16:14] drewda commented on #266
@stevevance still not sure why the public-facing web servers aren't accepting those file sizes. @irees will have to investigate further.

In the meantime, it's possible to upload directly to one of the internal web servers, bypassing the external limits. I just did this for the latest SFMTA feed by doing:

[code]

[2017-07-31 15:19] stevevance opened #270 "Feed for Downtown Alliance shuttle in NYC "f-dr5re-downtownalliance" has gone missing"
Info:
- Name: Downtown Alliance (Connection)
- Location: New York City
- Dispatcher (operator): https://transit.land/dispatcher/operators/o-dr5re-downtownalliance
- Dispatcher (feed): https://transit.land/dispatcher/feeds/f-dr5re-downtownalliance
- Feed Registry: https://transit.land/feed-registry/operators/o-dr5re-downtownalliance
- Feed URL: http://mjcaction.com/MJC_GTFS_Public/downtown_nyc_goog

[2017-07-31 15:44] stevevance opened #271 "Feed for Sarasota County "f-dhv-sarasotacountyareatransit" has gone missing"
Info:
- Name: Sarasota County Area Transit (SCAT)
- Location: Sarasota County, Florida
- Dispatcher (operator): https://transit.land/dispatcher/operators/o-dhv-sarasotacountyareatransit
- Dispatcher (feed): https://transit.land/dispatcher/feeds/f-dhv-sarasotacountyareatransit
- Feed Registry: https://transit.land/feed-registry/operators/o-dhv-sarasotacountyareatransit
- Feed URL: https://www.scgov

[2017-08-01 01:52] stevevance commented on #261
Another way to get bounding boxes is to query for `railway=subway` in Overpass Turbo, export as GeoJSON, import that GeoJSON to [geojson.io](http://geojson.io) and have that generate a bounding box. [Example query for Moscow](http://overpass-turbo.eu/s/qJF).

[code]

[2017-08-01 16:36] drewda commented on #270
@stevevance looks like this has now fetched successfully. Please remove the `status` tag and close this issue.

[2017-08-01 22:34] stevevance commented on #250
TMB (Barcelona) "f-sp3e-tmb" was originally having the error seen here #228, but is now having an error similar to this issue, specifically: `parent_stop required` ([more error info in the Feed Version page](https://transit.land/dispatcher/feed-versions/47f50e669228b1aba2bc3431bbbf4cd80e1359fd)).

[2017-08-01 23:00] stevevance opened #272 "Barcelona feed "f-sp3e-tmb" has new "parent_stop required" issue"
TMB (Barcelona) "f-sp3e-tmb" was originally having the error seen in #228, but is now having an error similar to this issue, specifically: `parent_stop required` ([more error info in the Feed Version page](https://transit.land/dispatcher/feed-versions/47f50e669228b1aba2bc3431bbbf4cd80e1359fd)).

[2017-08-01 23:07] #270 closed

[2017-08-01 23:10] stevevance opened #273 "TTC Toronto feed "f-dpz8-ttc" has a stop missing a name"
- Error: `name required`
- [Feed version](https://transit.land/dispatcher/feed-versions/d3b8d65bfcbc71431529d4937a6695a4cd76b087)
- Dispatcher (feed): https://transit.land/dispatcher/feeds/f-dpz8-ttc
- Dispatcher (operator): https://transit.land/dispatcher/operators/o-dpz8-ttc
- Feed URL: http://opendata.toronto.ca/TTC/routes/OpenData_TTC_Schedules.zip

[2017-08-01 23:20] #273 closed

[2017-08-02 19:15] drewda commented on #226
@stevevance can this issue be closed? or are there impacted feeds remaining to reimport? (If it's only the Swiss feed remaining, it's fine to close this issue -- we can track all Swiss-related issues under #52)

[2017-08-02 23:11] irees commented on #252
In the case of the Seattle shuttles, It's an issue with a `stop_times.txt` table having two rows in the same trip with the same stop_sequence. Looking for a quick fix.

[2017-08-02 23:37] drewda commented on #272
On Sentry: https://sentry.io/mapzen/datastore-prod/issues/321169363/

[2017-08-02 23:49] irees commented on #252
The Seattle shuttle issue is separate from the `pclink` issue; the feed has many issues/errors beyond this.

[2017-08-03 00:50] irees commented on #252
The CARTO feed also had an integrity issue; some trips referenced routes that did not exist. Fixed in the gtfs wrapper and one place in schedule importing.

See: https://github.com/transitland/transitland-datastore/pull/1153

Testing now; will close when done.

[2017-08-05 14:29] #226 closed

[2017-08-05 14:31] stevevance opened #274 "Cannot load Czechia feed "f-u2f-dpp" in Dispatcher"
- Feed info (Dispatcher): https://transit.land/dispatcher/feeds/f-u2f-dpp

Problem: When you try to load the feed info page in Dispatcher, it fails because of a call to the `feed_version_infos` endpoint. [Here's the full URL for the API call](https://transit.land/api/v1/feed_version_infos?feed_version_sha1=1dbc34a6ced86797ebd928f63ee5e194fbd60131%2C314726137b5baf66fe808778943550c33f0683b7%2C06fc3c

[2017-08-06 16:28] stevevance opened #275 "Feeds with the issue "undefined method `to_seconds' for nil:NilClass""
[code]

**Feeds**
- City of Commerce municipal bus lines - [f-9q5c-cityofcommercemunicipalbuslines](https://transit.land/dispatcher/feeds/f-9q5c-cityofcommercemunicipalbuslines) - [import log](https://transit.land/dispatcher/feed-versions/faac5a1e92473d09e0cb2da9d6e5d4c3255864bf)
- Amazon South Lake Union Seattle shuttle - [f-c23n-welcometoamazonslushuttle](https://transit.land/dispatcher/feed-ver

[2017-08-07 15:21] stevevance opened #276 "Feeds with error "undefined method id""
- Rhode Island Public Transit Authority "f-drm-rhodeislandpublictransitauthority" - [Feed version error](https://transit.land/dispatcher/feed-versions/cbe56f9d63ba0c159ea311883aa391ff8e58b333)

[code]

[2017-08-07 15:22] stevevance commented on #228
Rhode Island now has a different error, #276

[2017-08-07 15:22] #228 closed

[2017-08-07 16:30] drewda commented on #274
Fixed by https://github.com/transitland/dispatcher/issues/237 ?

[2017-08-07 17:55] irees commented on #274
Now fails because the query params are too long... I'll find a workaround.

https://transit.land/api/v1/feed_version_infos?feed_version_sha1=921a7f97bf69446bbbc612a0b5290c13d5bcb928%2C1dbc34a6ced86797ebd928f63ee5e194fbd60131%2C314726137b5baf66fe808778943550c33f0683b7%2C06fc3c7cfc493761ea01b4a5237c56e2f3aa2552%2C1957a7cbe2126133b714c6c2054b4d5eb6238de7%2Cc3e34afc44d70fb7ac0935a3204673a69bda6d1e%2C6

[2017-08-07 18:36] stevevance commented on #274
@irees Can you POST instead of GET?

[2017-08-07 19:16] irees commented on #274
@drewda Yeah, that is my thinking. Looking into it now.

[2017-08-07 23:40] irees commented on #274
https://github.com/transitland/dispatcher/pull/253 is a quick fix to limit the table to 100 rows, which will keep the feed_version_info URL short. Switching to POST is better long term but will need datastore side support.

[2017-08-07 23:44] #274 closed

[2017-08-09 18:06] stevevance opened #277 "New feed for part of New Zealand won't accept"
Here's the JSON:
(I'll correct the country and state ISO codes afterward.)

[code]

[2017-08-09 20:10] #250 closed

[2017-08-09 20:48] irees commented on #269
Resolved by https://github.com/transitland/transitland-datastore/pull/1153

[2017-08-09 21:06] irees commented on #277
```        "The property '#/changes/29/feed/includesOperators' contained duplicated array values in schema file:///Users/irees/mapzen/transitland-datastore/app/models/json_schemas/feed.json#",```

I am going to relax this requirement. See https://github.com/transitland/transitland-datastore/issues/1159

[2017-08-09 21:29] drewda commented on #269
@stevevance please try re-adding the feed, if you haven't already.

[2017-08-10 23:15] #269 closed

[2017-08-10 23:35] stevevance commented on #277
@irees I thought you had already relaxed it in another commit, because this isn't the first time this has come up.

[2017-08-11 18:03] #256 closed

[2017-08-11 18:14] stevevance commented on #235
Since the Israeli feed gives an access denied error to the Dispatcher, I thought I would upload it. But the 170 MB feed exceeds the max upload size.
`Failed to load resource: the server responded with a status of 413 (Request Entity Too Large)`

[2017-08-11 18:18] stevevance commented on #213
Similar to #262

[2017-08-11 18:27] stevevance commented on #27
It's been a while since we tried to import the [Dutch feed](https://transit.land/dispatcher/feeds/f-u-nl), so I'm enqueuing it today.

In the source of setting it up to import, I noticed that the feed URL changed to one for Flixbus, a low-cost coach bus operator in Europe. This shouldn't have happened, as that feed has no overlap with the OpenOV NL feed. I've switched it back.

[2017-08-11 19:14] stevevance commented on #235
I used cURL to upload the feed. The Dispatcher created [this new feed version](https://transit.land/dispatcher/feed-versions/f9aa8836a8542a47879489d92db950623462c349) which is enqueued for import. (It'll begin after the Netherlands feed goes, though, meaning it will be a day before we see any results.)

[2017-08-11 23:01] irees commented on #275
This is tricky because the feed violates the stop_times.txt spec. I may add a meaningful exception, but there's no obvious fix.

[2017-08-11 23:09] irees commented on #275
https://developers.google.com/transit/gtfs/reference/stop_times-file

[2017-08-11 23:38] irees commented on #275
I added a catch to log & skip any trips with invalid stop_times.

https://github.com/transitland/transitland-datastore/pull/1163

[2017-08-11 23:55] #275 closed

[2017-08-15 19:08] stevevance opened #278 "Williamsburg, Virginia, feed WATA "f-dq9k-wata" has moved"
The original URL was `http://www.gowata.org/DocumentCenter/Home/View/231`, but the website has been redesigned and this file no longer exists.

[I've contacted them via Twitter](https://twitter.com/stevevance/status/897535532946685952) (which has been successful with other transit agencies in the past).

[2017-08-15 19:23] stevevance commented on #278
The new URL is http://www.gowata.org/DocumentCenter/Home/View/281

[2017-08-15 19:23] #278 closed

[2017-08-16 19:02] irees opened #279 "Merged Stations causing issue with Routing"
Merging the Muni Metro platforms into the existing BART stop caused issues in Valhalla - BART routes could no longer be used through Montgomery or Embarcadero stations. I reverted the change pending debugging.

Initial thoughts: perhaps Valhalla does not look for service at the parent station if platforms exist?

[2017-08-17 21:48] drewda commented on #277
JSON schema "relaxation" has been deployed to production, so this should be ready for you to try again @stevevance

[2017-08-18 04:13] #277 closed

[2017-08-21 05:40] stevevance opened #280 "SSL problem on French feed "f-gbp7-carabus~transdevroyanatlantique""
- [Feed in Dispatcher](https://transit.land/dispatcher/feeds/f-gbp7-carabus~transdevroyanatlantique)
- [Feed issue](https://transit.land/dispatcher/issues/feed-fetch/1140097)
- Feed URL is https://data.agglo-royan.fr/dataset/9b761974-a195-4e33-91b7-ecee3b368016/resource/144c2734-9d66-4177-904d-a67768f5ee1d/download/carabus-royan-frmaj070717.zip

[code]

[2017-08-21 05:48] stevevance commented on #259
The Pastel Ma Ville est Belle feed issue has been resolved.

[2017-08-23 00:54] stevevance commented on #280
I uploaded a new feed version of this feed, to ensure we have a current copy of the feed while the SSL problem remains, but it's not working.

After uploading the file, I get the green message saying that a new feed version has been uploaded.

The browser request response is this:
[code]

[2017-08-23 01:01] stevevance commented on #266
Another feed has an SSL problem #280

[2017-08-24 20:17] stevevance commented on #252
The feed should be imported very soon. The last time was August 7.
https://transit.land/dispatcher/feed-versions/9c4879ec7bf50ea65aa053d60a50c4963f47a386

[2017-08-26 15:59] stevevance opened #281 "List of unofficial feeds"
I need to know if there's a tag already in use to track these.

- Tompkins, Ithaca, NY, US [f-dr997-tompkinsconsolidatedareatransit](https://transit.land/dispatcher/feeds/f-dr997-tompkinsconsolidatedareatransit)

[2017-08-28 18:17] rmglennon commented on #264
A user requested we add this feed and sent this Google Drive link through support email, too (see Desk 930).

[2017-08-30 17:27] stevevance opened #282 ""Remove" duplicate County Connection (California) feed"
I found a weird issue but the solution is simple.

The operator County Connection (`o-9q9p-countyconnection`) somehow got two County Connection feeds attached to it. However, one of those feeds is the correct one (`f-9q9p-countyconnection`), and one of those feeds is a feed from Vermont (`f-9q9p-ccctaorg`).

The operator in the Vermont feed (Green Mountain Transit Agency, `o-dru-greenmountaintrans

[2017-08-30 17:27] #282 closed

[2017-08-30 17:32] stevevance commented on #264
@rmglennon Was it the same link?

[2017-08-30 17:53] stevevance opened #283 "Delete "Eugene to Bend" Oregon because it's a subset of another feed"
**Keep**
https://transit.land/feed-registry/operators/o-9rb-pacificcrestlines which is fed by `f-9rb-pacificcrest~or~us`

**Destroy**
https://transit.land/feed-registry/operators/o-9rc-eugenetobend which is fed by `f-9rc-eugenetobend~or~us` (this feed is also outdated by nearly a year)

The Keep feed already includes the data in the Destroy feed.

[2017-08-30 18:19] rmglennon commented on #264
@stevevance yes - https://drive.google.com/drive/folders/0Bzyr0SveNi4Ab2p4V1FtNGVYZ1U

[2017-08-31 19:17] stevevance opened #284 "Ignore diacritics"
`https://transit.land/feed-registry/?metro=Montréal` returns 1 operator
`https://transit.land/feed-registry/?metro=Montreal` returns 16 operators

[2017-08-31 21:14] stevevance opened #285 "Switch to new, enhanced STIF (Paris) feed"
Per an [issue on the TransitFeeds repo](https://github.com/TransitFeeds/TransitFeeds-Public/issues/290), there is a new feed for STIF (Paris, France).

The feed that Transitland is [currently using](https://opendata.stif.info/explore/dataset/offre-horaires-tc-gtfs-idf/files/f24cf9dbf6f80c28b8edfdd99ea16aad/download/) (which seems to have expired this summer) has a different set of agencies than th

[2017-09-01 18:11] joshdelarosa1 opened #286 "problems using NYC bus schedules in transitflow.py"
While the subway GTFS files are in the database, the NYC bus GTFS are not currently in the feed database.

In NYC, the MTA separates the [subway](http://web.mta.info/developers/data/nyct/subway/google_transit.zip) feed from it's bus feeds. Below are the five feeds missing from the NYC system:

1. [Bronx](http://web.mta.info/developers/data/nyct/bus/google_transit_bronx.zip)
2. [Brooklyn](http://we

[2017-09-01 18:15] irees commented on #286
Hi @joshdelarosa1

All the NYC MTA feeds are in the registry:

https://transit.land/feed-registry/operators/o-dr5r-nyct

- which is a single operator composed from the subway and bus feeds for Manhattan, Bronx, Brooklyn, Queens, Staten Island, and the Bus Company.

We also have LIRR & Metro-North:

https://transit.land/feed-registry/operators/o-dr7-metro~northrailroad
https://transit.land/feed-reg

[2017-09-01 18:16] joshdelarosa1 opened #287 "Unable to Add NYC Bus Feeds"
Per #286, I was unable to register the NYC MTA bus feeds. The systems says these feeds are duplicates. However, NYC MTA separates the subway feed and the five bus feeds.

![mtafeeds](https://user-images.githubusercontent.com/5900421/29982536-1969b8cc-8f20-11e7-9cc7-ead77d1c4107.PNG)

[2017-09-01 18:22] joshdelarosa1 commented on #286
In lower Manhattan as an example, only the Downtown Connection busses are pulled into the [animation](https://vimeo.com/231957819).

In the outer boroughs, only the Nassau county buses are pulled in by the API. I've tried different bounding boxes with no success. Is this an transit animation issue instead? Judging by the routes, I don't think the subways were recoded as buses.

[2017-09-01 18:24] irees commented on #286
@joshdelarosa1 can you provide the command line arguments you used?

[2017-09-01 18:26] irees commented on #286
@joshdelarosa1 ah - it looks like we switched over to the newest versions of many of the MTA feeds this morning, which only includes service from 2017-09-01 onwards. Try using next Tuesday, 2017-09-05 as the --date argument.

[2017-09-01 18:28] joshdelarosa1 commented on #286
I tried several different bounding boxes, including:

` python transitflow.py --name=lwr_nyc --bbox=-74.028518,40.695932,-73.987684,40.709385 --clip_to_bbox`
and
`python transitflow.py --name=lwr_nyc --bbox=-74.553909,40.424474,-73.247223,40.855371 --clip_to_bbox`

I also tried with and without `--clip_to_bbox`

[2017-09-01 18:30] irees commented on #286
(apologies for the inconvenience - the process that converts the data to routable graph tiles runs twice per week and sometimes we import data slightly early to accommodate this timeline)

[2017-09-02 02:00] joshdelarosa1 commented on #286
I tried a Sunday (9/17/17) and it worked. But a Monday with ferry service brought a new error message.  I wonder if it's related to the size of the file.

`python transitflow.py --name=nyct2 --date=2017-09-18 --apikey=mapzen-<key> --operator=o-dr5r-nyct,o-dr5r-nycferry`

Traceback (most recent call last):
  File "transitflow.py", line 372, in <module>
    results, failures = animate_operators(oper

[2017-09-05 18:19] drewda commented on #287
See https://github.com/transitland/transitland/issues/286#issuecomment-326649578 for clarification.

[2017-09-05 18:19] #287 closed

[2017-09-05 18:48] irees commented on #286
hi @jjoshdelarosa1 Can you try it one more time? That might have been a spurious error.

[2017-09-06 04:03] joshdelarosa1 commented on #286
Hi,

The NYC data extract worked"

`python transitflow.py --name=nyct2 --date=2017-09-18 --apikey=mapzen-<key> --operator=o-dr5r-nyct,o-dr5r-nycferry`

https://vimeo.com/232595376

I tried the DC area again but had a different problem:
`python transitflow.py --name=dc --apikey=mapzen-<key> --bbox=-77.252647,38.729463,-76.831978,39.056878 --exclude=o-9-amtrak,o-9-amtrakcharteredvehicle`

12 operato

[2017-09-08 05:22] stevevance commented on #285
When adding the new Houdanais operator, it should have its own onestop ID and not replace the Transdev Houdan operator, per @irees.

[2017-09-09 03:45] stevevance opened #288 "Feed Registry doesn't like this new feed for St. Lucie, Floridia"
http://www.ftis.org/PostFileDownload.aspx?id=145A0

St. Lucie Treasure Coast Connector

Feed Registry reports:
[code]

[2017-09-13 19:56] stevevance commented on #283
@irees Can you review this and approve this plan?

[2017-09-13 20:13] stevevance opened #289 "Possible duplicate feeds for Trenitalia-ÖBB"
Feeds `f-u0p-trenitalia~obb` (A, [details](https://transit.land/dispatcher/feeds/f-u0p-trenitalia~obb)) and `f-u20-trenitalia~obb` (B, [details](https://transit.land/dispatcher/feeds/f-u20-trenitalia~obb)) appear to be identical, by serving nearly contiguous geographies.

These feeds came up because a feed version failed (and although that feed version was replaced, the error didn't go away).

Inv

[2017-09-13 21:31] irees commented on #252
The CARTA feed is now importing cleanly.

[2017-09-13 21:31] #252 closed

[2017-09-13 21:31] irees commented on #276
Imported clean on Sep 10. https://transit.land/dispatcher/feed-versions/4dc7852f3b028deb4fa87e82dec93aae2bdcf49d

[2017-09-13 21:32] #276 closed

[2017-09-14 04:26] stevevance opened #290 "Odd problem with County Connection "f-9q9p-ccctaorg""
`f-9q9p-ccctaorg` ([dispatcher](https://transit.land/dispatcher/feeds/f-9q9p-ccctaorg')) is a demo feed managed by Trillium.

**The problem**
- The [most recent feed version](https://transit.land/dispatcher/feed-versions/be995f7d0e68a056955366719be375b6b16a0413) is missing a lot of details, including which URL it represents, and schedule info (first service date, last service date).
- The most rec

[2017-09-14 04:32] stevevance commented on #272
Still an issue.

[2017-09-14 17:21] irees commented on #290
Looks like this was a broken file that was uploaded via script; I deleted the FeedVersion.

[2017-09-14 17:21] #290 closed

[2017-09-14 20:21] stevevance commented on #251
@irees Any progress on fixing ACV?

[2017-09-15 03:46] stevevance opened #291 "Delete a duplicate County Connector (CCCTA) feed "f-9q9p-ccctaorg""
The feed `f-9q9p-ccctaorg` (A) duplicates `f-9q9p-countyconnection` (B).

At one point, feed (A) got mixed up with the same URL as a completely unrelated feed `f-dru-chittendoncounty~vt~us` (C), and (A) was assigned the same feed URL as (C).

This probably happened because the short name of transit operator in (A) is "CCCTA" and the short name for the transit operator in (C) is "CCTA".

The URL fo

[2017-09-15 04:07] stevevance opened #292 "Update Warsaw feeds to new URL and delete a duplicate operator"
Per this issue on the Transit Feeds repo, the unofficial feeds we use for Warsaw, Poland, are getting new URLs. In the course of attempting to update to the new URLs I found a duplicate operator.

[This spreadsheet summarizes what feeds we're using](https://docs.google.com/spreadsheets/d/1ND5J_lz330UX5BQqHiyfnFuIZ1Dt5U0pq8IaAqiegEI/edit?usp=sharing)

This is the changeset that needs to be applied

[2017-09-15 05:02] stevevance commented on #289
## Results

- Feed A has 1 operator `o-s-trenitalia` with a GTFS agency ID of `5`. The single rail route is likely Bolzano-Verona.
- Feed B has 1 operator `o-s-trenitalia` with a GTFS agency ID of `6`. The single rail route is likely Trento - Bassano del Grappa.
- The last service date on (A) was December 30, 2016.
- The last service date on (B) was December 11, 2016.

The URLs of (A) and (B) are

[2017-09-15 05:20] #289 closed

[2017-09-15 18:09] drewda commented on #266
SFMTA feed appears to fetch successfully now.

[2017-09-15 18:09] #266 closed

[2017-09-20 01:20] useless2764 opened #293 "Feed for Barrie Transit (f-dpzk-barrietransit) has moved"
The current url has not been updated for a while since it was moved to the following location
http://myridebarrie.ca/gtfs/Google_transit.zip

[2017-09-20 01:25] stevevance commented on #285
It turns out there were no new operators. The changeset has been applied, but I accidentally overrode the license data. And that's been replaced.

Monitor [the feed](https://transit.land/dispatcher/feeds/f-u09-paris~metro~bus~tram) for fetching and importing.

[2017-09-20 16:57] stevevance commented on #293
Thank you, I've updated Barrie to the new URL.

[2017-09-20 16:57] #293 closed

[2017-09-20 17:42] stevevance commented on #285
The import failed, for a reason I've never seen before.

[2017-09-20 17:53] stevevance opened #294 "Mobility Explorer cannot style Zurich routes by mode"
While investigating the possibility of adding an official City of Zurich feed that has more shapes data than the national Swiss feed, I tried to visualize our existing data on Mobility Explorer.

The browser throws an error in the `mobility-playground.js` file.

[code]

<img width="1011" alt="screenshot 2017-09-20 12 52 14" src="https://user-images.githubusercontent.com/1330459/30659140-9079f864-9

[2017-09-20 18:05] stevevance opened #295 "Zurich Replace 2 operators with 1 operator from a new, official feed"
A new feed [was submitted](https://transit.land/dispatcher/changesets/8056) which is provided by the City of Zurich. This feed has better shapes data than the unofficial Swiss national feed (`f-u0-switzerland`) that currently provides our transit data in Zurich.

A new operator will be created called "Zürcher Verkehrsverbund" (ZVV), which is the name of the "network" organization for transit in th

[2017-09-20 18:20] stevevance opened #296 "Switzerland: Replace unofficial feed "f-u0-switzerland" with official feed"
We are currently using an unofficial feed for national transit data in Switzerland, using the onestopID `f-u0-switzerland` and [this URL](http://gtfs.geops.ch/dl/gtfs_complete.zip).

It would be great if I could simply update `f-u0-switzerland` with the [new URL](https://opentransportdata.swiss/en/dataset/timetable-2017-gtfs/permalink), but there may be some dropping and adding of operators that I

[2017-09-21 09:01] irees commented on #285
@stevevance It appears that some routes generated empty geohashes; this caused onestop id validation in the changeset payload to fail. I will need to debug further. Creating an issue in datastore: https://github.com/transitland/transitland-datastore/issues/1187

[2017-09-22 18:28] stevevance opened #297 "Feeds hosted by Next Insight are gone"
Feed hosted by Next Insight transportation software on `nextinsight.com` are gone because the domain is down or the website is offline or removed.

- [f-dngb-lextran](https://transit.land/dispatcher/feeds/f-dngb-lextran)
- [f-c28-islandtransit](https://transit.land/dispatcher/feeds/f-c28-islandtransit)

[2017-09-25 19:36] irees commented on #292
@stevevance issue with the onestopId:

[code]

[2017-09-25 19:57] stevevance commented on #292
Thanks for catching that. Fixed.

Monitor these feed imports:
f-u3qc-komunikacjamiejskaŁomiankispzoo
f-u3qb-warszawskakolejdojazdowa
f-u3q-ztmwarszawa~kolejemazowieckie~warszawskakolejdojazdowa

[2017-09-25 19:57] #292 closed

[2017-09-26 04:16] stevevance commented on #60
I've resumed working on one of the Finland feeds (the long distance transport), manually assigning geographic metadata (state and metro), after a multiple month hiatus.

Before converting it from GeoJSON into the Transitland changeset format, do the following:
- Combine duplicate operators
- - ORAVAIS TRAFIK AB - ORAVAISTEN LIIKENNE OY
- Change operator names to Proper Case

[2017-09-26 20:15] stevevance opened #298 "Find new feed for Great Britain/UK"
The feed we, and others, are using for operators in the United Kingdom has gone missing.

`http://www.gbrail.info/gtfs.zip` -> redirects to 404 at `http://data.atoc.org/gtfs.zip`

Other discussions about this:
- https://groups.google.com/forum/#!topic/openraildata-talk/wALwjIgNhGg
- https://github.com/TransitFeeds/TransitFeeds-Public/issues/276

[2017-09-29 03:52] stevevance commented on #259
@irees This feed has become a problem again. All six required GTFS files are there, but Dispatcher reports `GTFS::InvalidSourceException` on [this feed fetch issue](https://transit.land/dispatcher/issues/feed-fetch/1290645).

[2017-10-03 17:17] irees commented on #259
@stevevance the feed is now in a folder inside the zip; the url will need to be updated to:

http://buspastel.fr/google_transit.zip#google_transit

[2017-10-03 17:31] #259 closed

[2017-10-03 18:04] #286 closed

[2017-10-03 18:05] irees commented on #286
Thanks for using the program :) I am going to mark this issue as closed unless any other issues come up.

[2017-10-04 20:04] irees opened #299 "Transit tile exports"
Issue for coordinating tile export process.

[2017-10-04 20:06] irees commented on #280
@stevevance Can you review the remaining SSL issues and close if resolved?

[2017-10-05 03:21] stevevance commented on #280
@irees The feed has imported successfully.

[2017-10-05 03:21] #280 closed

[2017-10-05 07:53] harringtonp commented on #137
I see it is closed but... do any of the Irish transport providers have a GTFS realtime feed associated with them ? I couldn't find any that do

[2017-10-05 20:08] irees commented on #288
@stevevance This one is a bit esoteric. All trip_id's in stop_times.txt have an extra space at the end, so our loader can't find them in trips.txt. I suppose this is a matter of interpretation; Google feedvalidator.py appears to strip the extra space off, but our Ruby based CSV loader keeps the space. I can add a fix if necessary.

Regardless, the last date in the Feed is 2015-12-31, so it's a bit

[2017-10-05 21:30] drewda commented on #137
Transitland doesn't yet track GTFS-RT feeds. (It's a future plan; see #77)

TransitFeeds.com does include GTFS-RT feeds: http://transitfeeds.com/search?q=gtfsrt However, I do not currently see any listed from Ireland.

[2017-10-05 22:46] harringtonp commented on #137
Thanks guys, got on to transportforireland.ie with an enquiry. Not too hopeful of getting a response but if there is something will report back here

[2017-10-06 05:58] stevevance commented on #235
The server is only denying Transitland, and not a normal web browser.

@irees Is there a way to tell if they are denying access based on user agent?

[2017-10-06 07:27] stevevance commented on #288
@irees I've asked the agency if they have a new feed.

[2017-10-08 16:34] stevevance opened #300 "GTFS source problem with Jacksonville, FL, feed "f-djmu-jacksonvilletransportationauthority""
The feed `f-djmu-jacksonvilletransportationauthority` ([Dispatcher](https://transit.land/dispatcher/feeds/f-djmu-jacksonvilletransportationauthority)) for Jacksonville, Florida, threw a `GTFS::InvalidSourceException` [feed fetch error].

I downloaded the feed and I'm guessing that two of the filenames are wrong.

[code]
(They have identical file sizes.)

<img width="243" alt="screenshot 2017-10-08

[2017-10-10 21:53] barbeau commented on #77
We now have a very practical use case for retrieving a list of GTFS-realtime feeds - bulk quality analysis of GTFS-realtime feeds.

We got tired of doing this manually, so we created the [transit-feed-quality-calculator](https://github.com/CUTR-at-USF/transit-feed-quality-calculator), a project that:
1. Fetches the URLs for all known GTFS-realtime feeds and corresponding GTFS data from the [Transi

[2017-10-12 16:00] caywood opened #301 "Slow transit.land search bar"
Especially at https://transit.land/feed-registry/

Given the number of feeds being searched, it seems like the search bar should be nearly instantaneous. But it's slow, which coupled with variable feed naming, makes it hard to find what you're looking for.

[2017-10-25 21:10] irees opened #302 "CT Transit feed maintenance"

[2017-11-01 19:21] irees commented on #300
We can't automatically try to infer incorrect filenames. Will need to email operator.

[2017-11-01 19:26] irees commented on #291
Feed deleted.

[2017-11-01 19:26] #291 closed

[2017-11-01 19:28] irees commented on #297
We can keep the feeds as a historical reference.

[2017-11-01 19:30] irees opened #303 "Tag proposal for abandoned/obsolete feeds"
It's common for a Feed to become either abandoned, unmaintained, or permanently missing. We should continue to keep existing Feeds & FeedVersions in the datastore to maintain a historical record, but mark with a tag to indicate the feed is no longer relevant.

Example:
https://github.com/transitland/transitland/issues/297

When a feed is abandoned, we should also consider removing Stop/Route/Sched

[2017-11-01 19:34] irees commented on #283
Removed `o-9rc-eugenetobend` with changeset `9021`

[2017-11-01 19:34] #283 closed

[2017-11-01 19:36] irees commented on #296
I agree with the plan to update the existing url and update the agencies as necessary.

[2017-11-01 19:37] irees commented on #279
Resolved by https://github.com/transitland/transitland-datastore/pull/1200

[2017-11-01 19:37] #279 closed

[2017-11-01 19:38] irees commented on #298
Can these also be tagged with unofficial: true

[2017-11-01 19:41] irees commented on #251
ACV self-resolved. Closing issue.

https://transit.land/dispatcher/feed-versions/0eb1cf30e501bfe7fd1e93bfb8630b491f84522a

[2017-11-01 19:41] #251 closed

[2017-11-01 19:52] irees commented on #264
@stevevance The currently posted file is valid GTFS. However, I don't think it is currently possible to get a Google Drive direct download url that will work with Transitland; the links always return html/javascript, requiring a browser to complete the download.

One option is to copy the feed to https://github.com/transitland/gtfs-archives-not-hosted-elsewhere or create the feed manually and then

[2017-11-01 19:55] irees commented on #295
We should accept the Zurich feed submission, but hold off on importing now.

After we resolve the issue with switching to the new official Switzerland feed, we can decide if we want to import this subset directly from Zurich feed, or just use the versions in the official feed.

[2017-11-01 20:09] irees opened #304 "Improve Operator in Feed editing & handling"

[2017-11-01 20:11] irees commented on #271
Closing issue. If a new url becomes available, we can update the feed and remove the `status: unreachable` tag.

[2017-11-01 20:11] #271 closed

[2017-11-01 21:24] irees opened #305 "Deprecating entity workflow"
Thoughts on workflow. This comes up when a Feed is replaced by a different provider, or becomes a subset of data in a different feed. Example: https://github.com/transitland/transitland/issues/283

When an existing Feed is replaced with a Few Feed:

1. Import new feed
2. Allow it to match to entities in old feed
3. Remove entities referenced only by old feed and not new feed

Formalize this into a

[2017-11-07 17:53] rmglennon commented on #246
Metro Manila https://github.com/sakayph/gtfs (see also Desk 1225)

[2017-11-09 21:56] stevevance commented on #303
I don't know if the "replace" status is necessary; sometimes, when there's an official feed found for an existing operator, I edit the feed to fetch the new URL (this doesn't happen very often).

[2017-11-16 00:50] useless2764 opened #306 "Feed for (f-dpx-townofforterietransitsystem~niagarafallstransit~niagarapar) has moved"
Can now be found here

https://maps.niagararegion.ca/googletransit/NiagaraRegionTransit.zip

[2017-11-16 21:10] stevevance commented on #272
This feed in New Zealand just got the problem [for the first time](https://transit.land/dispatcher/feed-versions/f7b01ab7f90b646de9112523f6b7b6c0c0ce49ed).
`f-rb-atairporter380~manukauorangebus~tranzalpinerailway~abeltasm`

[2017-11-17 00:59] stevevance opened #307 ""Feed zip structure is not supported" error on Victoria, Australia feeds"
All of these feeds store the actual GTFS file in a subfolder. They have been fetched successfully for the longest time, but threw this error today.

Feeds:
- [f-r1-ptv](https://transit.land/dispatcher/feeds/f-r1-ptv)
- [f-r1r-ptv](https://transit.land/dispatcher/feeds/f-r1r-ptv)
- [f-r1r-ptv~2](https://transit.land/dispatcher/feeds/f-r1r-ptv~2)
- [f-r1-ptv~3](https://transit.land/dispatcher/feeds/

[2017-11-17 04:14] stevevance opened #308 "Error "geometry required" on feed "f-dre-greenmtncn~vt~us""
`f-dre-greenmtncn~vt~us`

[code]

[2017-11-20 20:24] stevevance opened #309 "Review Madrid operators and feeds"
Madrid has the following transit operations, under the [CRTM umbrella](http://crtm.es/tu-transporte-publico/autobuses-emt.aspx).

- Metro (subway)
- Metro Ligero (light rail)
- [Autobuses urbanos](https://transit.land/feed-registry/operators/o-ezjm-empresamunicipaldetransportes) (city buses) operated by EMT
- [Autobuses urbanos en la Comunidad](https://transit.land/feed-registry/operators/o-ezj-co

[2017-11-21 00:24] stevevance commented on #309
Since our import from two months ago seems to be missing over 130 routes, I've set it to re-import.

When that's done, look for "Autobuses urbanos" (the intracity buses in the suburbs). For example, the route `9__1__903_,CRTM,1,FFCC-AVENIDA VIÑUELAS-AVENIDA COLMENAR-FFCC` in Tres Cantos, Spain, is in the M89 feed, but it's not appearing in Mobility Explorer yet.

[2017-11-21 16:12] stevevance commented on #309
A new feed version of `f-ezj-informaciónoficial~consorcioregionaldetransportesdemadrid` was imported, but there are still missing routes. Here's how to prove it:

Tres Cantos, Spain, is a suburb of Madrid. One of the city bus routes (that's not operated by EMT) is a circular route is route `1`, called [FFCC-Avenida Viñuelas-Avenida Colmenar-FFCC](http://crtm.es/tu-transporte-publico/otros-autobuse

[2017-11-21 17:10] stevevance commented on #244
I don't know how this happened, but there are two feeds that are the same.

`f-srb-tperspa~bologna`
`f-srb-tperspa`

The `f-srb-tperspa` feed was "deactivated" by removing all operators from it. However, it still generates import errors because, well, no operators could be found!

`f-srb-tperspa` has a bunch of different feed versions than the active `f-srb-tperspa~bologna` feed, so can they be mo

[2017-11-21 17:18] stevevance commented on #285
@irees Can you move this up the priority list? The latest data Transitland has is from August 19, 2017.

[2017-11-21 23:21] irees commented on #244
[code]

[2017-11-22 03:16] stevevance commented on #244
Thanks! `f-srb-tperspa` has now been deleted.

[2017-11-22 03:16] #244 closed

[2017-11-22 17:12] stevevance commented on #300
The feed resolved the issue itself.

[2017-11-22 17:12] #300 closed

[2017-11-27 06:52] stevevance commented on #307
All of these have been resolved by themselves.

[2017-11-27 06:52] #307 closed

[2017-11-27 17:25] stevevance commented on #309
The `M89` feed `f-ezj-informaciónoficial~consorcioregionaldetransportesdemadrid` is also outdated by a month. The last calendar date is October 24, 2017, and I've imported it as recently Monday, November 20, 2017.

I downloaded the file just now and it has the same SHA1 hash as the latest feed version.

[2017-11-27 17:39] stevevance commented on #296
I've replaced the URL today...waiting to enqueue it for import.

[2017-11-28 01:43] stevevance commented on #264
Bogotá is now in Feed Registry, and is currently being imported.

I downloaded it from Google Drive, hosted it on our GitHub repo, and submitted it to Feed Registry. For new versions I may either upload it to GitHub or upload it through Dispatcher.

The current version has a service date through December 2020, but @rmglennon can you ask if they have a newer version? (The file on Drive was last upd

[2017-11-28 01:43] #264 closed

[2017-11-28 02:25] rmglennon commented on #264
That's great, @stevevance! I can check, but I think the user just found the link and may not actually be involved in the feed creation.

[2017-11-29 21:04] stevevance commented on #251
Still waiting for it to import (the last import was in June).

[2017-11-29 23:37] #235 closed

[2017-11-30 15:00] stevevance commented on #308
@irees Is this one related to #285 (Paris, generating empty geohashes)?

[2017-12-01 16:32] stevevance commented on #306
thanks @useless2764 - I've updated the URL for this feed.

The existing operator we had, Niagara Parks Commission WeGo, is no longer in this feed.

[2017-12-01 16:32] #306 closed

[2017-12-15 04:08] stevevance opened #310 "Find new feed for SWU feed "f-u0x5-swunahverkehrulm~neu~ulmgmbh" in Germany"
https://transit.land/dispatcher/feeds/f-u0x5-swunahverkehrulm~neu~ulmgmbh
The feed became outdated last week.

[2017-12-21 22:12] stevevance commented on #296
The import failed multiple times because of...I'm not sure, [it looks like a timeout](https://transit.land/dispatcher/feed-versions/ed6c41349df9afe7ae97426449c64f9b1265a597).

Also, I have a [changeset waiting to be applied](https://transit.land/dispatcher/changesets/9956) that would apply a new URL for 2018.

@irees I've enqueued it again, just now.

[2017-12-27 06:05] stevevance commented on #60
I didn't end up changing all the operator names to Proper Case, and I didn't get to remove the "OY" word from all of them.

Also, since I took about 8 months to finally get around to finishing the Matka feed, I've noticed that the current version has some new and different operators. I might be able to deal with those after I get these 293 that I've cleaned up and gotten metadata for.

[2017-12-27 21:33] stevevance opened #311 "Find a new feed for Tunis "f-sn-tunis~banlieues""
We only had the data for Tunis for such a short time before the file at `https://gps.sncft.com.tn/gps/gtfs_ALL.ZIP` went missing.

[2018-01-10 04:48] Sumidor opened #312 "Missing route for feed f-f25f-rseaudetransportdelongueuil"
Noticed that for this feed there is a route missing in the transland database. The route exists in the GTFS file from the operator when I look at the source so I am not sure why the route does not show up.

- [Feed Registry](https://transit.land/feed-registry/operators/o-f25f-rseaudetransportdelongueuil)

The missing route is number 90 with example stops 4444 and 4443

[2018-02-28 16:27] lubbo opened #313 "Wrong routes serving stop with id s-u20f2rfg2m-pleromahotelschiar"
I'm testing operator with ```operator_onestop_id``` = ```o-u20-actvspa```

And there's something strange with routes serving stops.
Particularly looking at stop with ```onestop_id``` = ```s-u20f2rfg2m-pleromahotelschiar```
the list of ```routes_serving_stop``` contains following routes:

- "route_name":"BLU","route_onestop_id": "r-u20f9-nln"
- "route_name": "BLU","route_onestop_id": "r-u20f-nln"
-

[2018-03-03 20:02] denysvitali commented on #296
I'm not sure if it's related, but apparently the `schedule_stop_pairs` doesn't return anything with any swiss operator (SBB, PostAuto, ...)

Example:
http://transit.land/api/v1/schedule_stop_pairs?operator_onestop_id=o-u0-sbbschweizerischebundesbahnensbb

[2018-03-20 08:24] denysvitali commented on #296
http://transit.land/api/v1/schedule_stop_pairs?feed_onestop_id=f-u0-switzerland doesn't return anything. I guess something's wrong on TransitLand end or the changeset wasn't applied succesfully, resulting in missing data

[2018-04-02 21:04] laidig commented on #311
I have it on good authority that one will arrive soon.

[2018-08-26 02:26] contra opened #315 "add feed getting stuck at 95% progress?"
Hi - hope this is the right place to open this issue.

Reproduction:

- Open https://transit.land/feed-registry/feeds/new
- Try to submit any of these URLs:
  - http://dev.hsl.fi/gtfs/hsl.zip
  - http://www.transportforireland.ie/transitData/google_transit_dublinbus.zip
  - https://opentransportdata.swiss/en/dataset/timetable-2018-gtfs/resource_permalink/gtfsfp20182018-06-06.zip

I've identified ~

[2018-08-26 02:27] contra commented on #315
Network tab output is just this forever:

[code]

[2018-09-25 20:06] joordan opened #316 "San Joaquin Regional Transit District (RTD) o-9qc-sanjoaquinregionaltransitdistrictrtd in datastore missing routes in operated_by / is not the latest feed?"
Hello, I've been experimenting with the transitland api and so far it's been great but I noticed when using

`api/v1/routes?operated_by=o-9qc-sanjoaquinregionaltransitdistrictrtd`

to get routes for San Joaquin RTD, it seems to be missing some routes.

I can verify that the 'Fetched from URL' is correct and has the latest routes.

You can also see the list of routes in the [transitfeeds website](h

[2018-09-25 20:10] joordan commented on #316
Sorry I mean to label this as 'data questions/debugging'. How can I do that?

[2018-10-07 08:12] magnusburton commented on #315
I’m having the same issue!

[2018-11-01 02:40] drewda commented on #119
This is now in the Feed Registry (using an API key): http://transit.land/feed-registry/?country=SE

Queued up for feed import.

[2018-11-01 02:40] #119 closed

[2018-11-02 20:14] drewda commented on #316
@joordan thanks for your question (and for managing this feed).

My first guess is the issue is pagination. When you query http://transit.land/api/v1/routes?operated_by=o-9qc-sanjoaquinregionaltransitdistrictrtd you will only receive the first 50 relevant routes, by default.

If you advance to the next page of results (https://api.transit.land/api/v1/routes?offset=50&operated_by=o-9qc-sanjoaquinre

[2018-11-02 20:14] #316 closed

[2018-11-06 19:37] joordan commented on #316
Thanks Drew, you've been helpful. Transitland is a really great api.

[2018-11-12 16:01] rippll-miles opened #317 "Too many "route_stop_patterns_by_onestop_id" for routes API. Isit possible to filter the correct pattern ids"
The below is returning too many "route_stop_patterns_by_onestop_id", there should be 4 however the are duplicates/updated ids.
Is there a way to filter the most recent/correct IDs?

https://transit.land/api/v1/routes?vehicle_type=bus_service&operated_by=o-u33d-berlinerverkehrsbetriebe

`{
"geometry": {
"type": "MultiLineString",
"coordinates": [
[] 29 items,
[] 20 items,
[] 27 items,
[] 18 items
]

[2018-11-12 23:03] drewda commented on #317
To view the RSPs associated with just that particular route, try http://transit.land/api/v1/route_stop_patterns?traversed_by=r-u33db-142

Can you provide more information on which RSPs you think are accurate and which are not? I am unfamiliar with this feed, so more information would be helpful.

Note that RSPs are unique by both geometry and stop pattern. If you have not already, read the docs at

[2018-11-12 23:34] drewda commented on #317
I now see your email:

Note that RSPs are unique by both geometry and stop pattern. This means that two RSPs can have the same exact geometry but have a different list of stops they visit. For example, one RSP may represent "skip stop" service: https://en.wikipedia.org/wiki/Skip-stop

I think this should help clarify your questions and your application -- if not feel free to reopen and add more co

[2018-11-12 23:34] #317 closed

[2018-11-13 09:31] rippll-miles commented on #317
Thanks for your reply for example, the below 2 are dups
https://transit.land/api/v1/route_stop_patterns?onestop_id=r-u33db-142-b5381e-ad4105
https://transit.land/api/v1/route_stop_patterns?onestop_id=r-u33db-142-b5381e-9fcaf7
The below is also the same, however cleaned up as a duplicated stop has been removed
https://transit.land/api/v1/route_stop_patterns?onestop_id=r-u33db-142-405df2-0ae32c

The

[2018-11-13 10:06] rippll-miles commented on #317
Below is the URL for the GTFS feed if the dataset needs to be dropped & replaced

https://www.vbb.de/media/download/2029

[2019-01-11 05:20] #199 closed

[2019-02-05 23:50] LordMike opened #318 "Add Denmark"
.. yes yes. I know I can add them myself.. but I don't have time to fill out 23 operators' details right now.. :P

So I'm adding this as a note to myself (and others) that the data is available for the entirety of Denmark.

* https://help.rejseplanen.dk/hc/da/articles/214174565-ReST-API-Stoppestedsdata-GTFS
* http://www.rejseplanen.as/GTFS_New.zip

[2019-03-03 20:03] getzze opened #319 "Stops and routes missing for Portugal providers"
The following operators are registered but Stops, routes and schedule entries are empty so they are useless. Maybe there is a problem with parsing the GTFS data:
o-eyck-cascaispróximaemsa
o-eyc-cp
o-eyck-rodoviáriadelisboa
o-ez66z-tuvr~urbanosdevilareal
o-eyck-transtejo

[2019-04-30 14:04] TomGoBravo opened #320 "Duplicate operator/feed"
http://transit.land/feed-registry/operators/o-dqc-montgomerycountymdrideon and http://transit.land/feed-registry/operators/o-dqcn-montgomerycountymdrideon appear to be the same except for http vs https.

[2019-06-19 09:06] heyarne opened #321 "Feed import hangs"
Hi!
I'm trying to import https://www.vbb.de/media/download/2029, which is the official GTFS feed for the Verkehrsverbund Berlin Brandenburg (Germany) as per [OpenMobilityData](https://transitfeeds.com/p/verkehrsverbund-berlin-brandenburg/213).  Unfortunately when trying to import the feed over the web url it just seems to hang indefinitely at 95%. Can I do anything to help debug this?

[2019-06-19 11:42] heyarne commented on #321
Consider this solved! It was indeed just a long time it took going from 95% to 100%. :)

[2019-06-19 11:42] #321 closed

[2019-06-21 17:45] drewda commented on #321
@heyarne thanks for your patience. (The final portion of processing a large GTFS feed is indeed the most resources intensive.)

[2019-10-23 06:59] adelcasse opened #322 "Envibus feed only fetched operator area"
We submitted a few days ago the GTFS feed of the french metropolitan area "Communauté d'Agglomération de Sophia Antipolis" : https://nextcloud.agglo-casa.fr/nextcloud/index.php/s/F10PMtqPtFAoeqG/download

It seams to appear now in the Feeds registry but only operator areas are given, not stops, routes and schedules (these are set in the GTFS file)

[2019-11-06 12:05] elsa-pato opened #323 "Error submitting feed for french trains (SNCF)"
Hi,

I tried adding the feed for French regional trains ("TER") from https://data.sncf.com/explore/dataset/sncf-ter-gtfs/files/24e02fa969496e2caa5863a365c66ec2/download but I get an `Error submitting feed` message. When digging for more information I found out there is the same message error as in https://github.com/transitland/transitland/issues/48
[code]
I fixed the `onestopId` as suggested and

[2019-11-25 19:04] TheMapSmith opened #324 "feed-registry not loading"
Hello! 👋

Love you, love your service ❤️

I'm noticing today that the `/feed-registry` page isn't loading. The web console shows a few errors:

![image](https://user-images.githubusercontent.com/8357118/69569675-24797880-0f8c-11ea-8938-3be00264bd14.png)

Error text:
`GET https://transit.land/api/v1/operators?country=&import_level=&metro=&name=&offset=0&short_name=&sort_key=name&sort_order=asc&stat

[2019-11-25 21:47] drewda commented on #324
Thanks for the kind words and for using Transitland!

Our monitoring system has been picking up interruptions for some users of the Transitland Datastore API — including the Feed Registry user interface. We've been working to debug and fix the issue today. Will be posting status updates at https://twitter.com/transitland/

[2019-11-26 05:26] drewda commented on #324
Datastore API performance should be back to normal now. Feel free to open a new issue with future issues or contact us by email or Twitter.

[2019-11-26 05:26] #324 closed

[2020-02-26 17:29] #87 closed

[2020-03-09 18:22] drewda commented on #77
We've been starting to add RT support to Transitland over the past year:

- an overview of the project: https://www.interline.io/blog/transportation-research-board-funds-gtfs-realtime/
- RT feeds are now cataloged in https://github.com/transitland/transitland-atlas and available to browse in the Feed Registry; the Transitland v2 website will allow filtering by static and RT specs

[2020-03-16 23:22] christrillium opened #326 "Mobility Explorer/ API call return dataset missing feeds"
When using either the Mobility Explorer or API call (/api/v1/operators?bbox=) to view operators in Oregon, the resulting dataset is missing some feeds.

The following feeds were missing from the output of statewide operators:

-Yamhill County Transit
-Washington Park Shuttle
-CO Breeze
-Cherriots
-Umpqua Transit
-Woodburn Transit
-South Clackamas Transportation District

The above agencies do not

[2020-03-16 23:29] christrillium opened #327 "Baker City Community Connection feed can be removed"
The Baker City Community Connection is a part of the overall Northeast Oregon Public Transit. It is no longer branded as a separate service, and is included in the http://oregon-gtfs.com/gtfs_data/northeast-or-us/northeast-or-us.zip feed.

[2020-03-16 23:35] christrillium opened #328 "HUT Airport Shuttle feed can be removed"
HUT was bought out by Groome Transportation, and no longer operates as a separate entity.
https://groometransportation.com/portland-airport/

[2020-03-16 23:41] christrillium opened #329 "Valley Retriever feed can be removed"
Valley Retriever (https://transit.land/feed-registry/operators/o-9rb-valleyretriever) went out of business.
https://www.bendbulletin.com/business/bend-newport-bus-service-ends/article_84768232-e9ed-549e-a335-5b0f656c2e5a.html

[2020-07-17 10:50] YashowardhanTripathi opened #330 "Need Transit-land version 2 support"
We are facing 429' issue with transit land version 1 api as we have discussed in [This Issue](https://github.com/valhalla/valhalla/issues/878#issuecomment-660029620)

We followed  [This Page] (https://transit.land/news/2019/10/17/tlv2.html)  and submitted our form for tlv2 api key so, far we have not received any reply...

Kindly look on these issues. (either for 429' rate limit issue or tlv2 api

[2020-09-02 15:00] LifeNotEasy opened #331 "can not get schedule information outside the bay area"
can get the schedule properly in the bay area, but failed in other cities, e.g., Chicago or Las Vegas

[2021-06-22 12:49] GitBrum opened #332 "Questions regarding accessing route and operator data from feed & discrepancy Datastore V1 and the map"
I am requesting data from Transitland Datastore V1

Let's say I want to analyze all transit of Stockholm (Sweden) operated by SL (onestop_id=o-u6s-sl). I want their routes with corresponding stops (coordinates) and schedules. First I tried to inspect the API endpoint using Postman using my API key and the onestop_id of the operator. Later on I tried the same using Python 3.7 on a Windows 10 64-bit

[2021-06-22 18:01] drewda commented on #332
Re 1: you are encountering a known bug in the v1 Datastore API. This is resolved in the v2 REST APIs, which will be publicly available soon. Thanks for your patience.

Re 2: the map is powered by the v2 Vector Tiles (which bypass the v1 Datastore API and its limitations). If you want to try using these tiles yourself, see https://www.transit.land/documentation/vector-tiles

[2021-06-23 08:41] GitBrum commented on #332
1) I am looking forward:)

2) Using the same example for Stockholm and an arbitrary route (onestop_id=r-u6sce-69) I tried the following endpoint to access the v2 Vector Tiles (again using Postman to inspect the endpoints).

`https://transit.land/api/v2/tiles/routes/tiles/{z}/{x}/{y}.pbf?apikey=XXX&onestop_id=r-u6sce-69`
which gave me the error: 'invalid tile coordinates'

I assume x,y,z are the ti

[2021-06-24 05:23] drewda commented on #332
Try your URL without curly brackets (which are just an indication of where to put the tile coordinates) and without the onestop_id query parameter (since the vector tiles cannot accept query parameters):

`https://transit.land/api/v2/tiles/routes/tiles/12/2253/1204.pbf?apikey=XXX`

For more information on how to use these MVT vector tiles, see the docs at https://www.transit.land/documentation/vec

[2021-06-24 08:12] GitBrum commented on #332
Thank you Drew! It works now.

One final question regarding the recommendation you gave; can you already indicate something about timeline of the completion of the v2 REST API? Based on this answer I will decide whether I look into parsing MVT vector tiles for my research or wait for the GeoJSON format. Thanks in advance!

[2021-06-24 21:31] drewda commented on #332
Great!

We don't announce release dates in advance, but you are welcome to email info@interline.io and we will add you to the list of people to notify upon release.

[2021-06-24 21:31] #332 closed